[submodule "midori_engine/3rd_party/spdlog"]
	path = midori_engine/3rd_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "midori_engine/3rd_party/glfw"]
	path = midori_engine/3rd_party/glfw
	url = https://github.com/glfw/glfw
[submodule "midori_engine/3rd_party/imgui"]
	path = midori_engine/3rd_party/imgui
	url = https://github.com/ocornut/imgui
